<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/social-circles.min.css">
    <!-- <link rel="stylesheet" href="../css/academicons.min.css"/>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">


{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="wrapper clearfix">
        <header>
          <h1><a href="https://nicolobo.github.io/"><b>Nicolás Varela</b></a></h1>
  
          <p></p>
          <p>
            PhD candidate<br />
            <a href="https://www.uc3m.es/social-sciences-department/home">Department of Social Sciences</a><br />
            Universidad Carlos III de Madrid<br />
            <a href="mailto:nicolas.varela@uc3m.es">nicolas.varela@uc3m.es</a><br />
          </p>
          <p></p>
          <p>
          <a class="ai ai-google-scholar ai-2x" href="https://scholar.google.com/citations?user=kjGVe6EAAAAJ&hl=en&oi=sra" target="_blank" style="color: #3d3d3d;"></a>&nbsp;&nbsp;&nbsp;
          <a class="ai ai-orcid ai-2x" href="https://orcid.org/0000-0002-9135-5338" target="_blank" style="color: #3d3d3d;"></a>&nbsp;&nbsp;&nbsp;
          <a class="icon-linkedin ai-2x" href="https://www.linkedin.com/in/nicol%C3%A1s-varela-garc%C3%ADa-86bbb940" target="_blank" style="color: #3d3d3d;"></a>&nbsp;&nbsp;&nbsp;
          <a class="icon-twitter ai-2x" href="http://twitter.com/NicoVarela12" target="_blank" style="color: #3d3d3d;"></a>&nbsp;&nbsp;&nbsp; 
          <a class="ai ai-closed-access ai-2x" href="https://www.instagram.com/nicolobo12/" target="_blank" style="color: #3d3d3d;"></a>&nbsp;&nbsp;&nbsp;
          <a class="icon-github ai-2x" href="https://github.com/nicolobo" target="_blank" style="color: #3d3d3d;"></a>&nbsp;&nbsp;&nbsp;
          <!-- <a class="ai ai-cv ai-2x" href="https://nicolobo.github.io/pdfs/CV%20Nico.pdf" target="_blank" style="color: #3d3d3d;"></a><br /> -->
          </p>
          <p></p>
          <p>
            <a href="./index.html" style="font-size: 115%"><b>About</b></a><br />
            <a href="./research.html" style="font-size: 115%"><b>Research</b></a><br />
            <a href="./teaching.html" style="font-size: 115%"><b>Teaching</b></a><br />
            <a href="./cv.html" style="font-size: 115%"><b>CV</b></a><br />
          </p>
          <p>
            <!-- This widget is defined with fixed dimensions, the next one is responsive. -->
            <!-- <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=584qwbk3sgo&amp;m=0&amp;c=ff0000&amp;cr1=00fff6&amp;f=arial&amp;l=0&amp;s=250" async="async"></script> -->
           
            <!-- <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=584qwbk3sgo&amp;m=0&amp;c=ff0000&amp;cr1=00fff6&amp;f=arial&amp;l=0" async="async"></script> -->
          </p>
          <p>
            <!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=7XS0fxXx_tmCo2q6CydurvgoTbCePG-eEY0SklNr1ls"></script> -->
            <div id="clustrmaps-container">
           <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&t=n&d=7XS0fxXx_tmCo2q6CydurvgoTbCePG-eEY0SklNr1ls&co=d5e9aa&cmo=c800f3&cmn=ff0000&ct=000000'></script> -->
              <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=200&d=7XS0fxXx_tmCo2q6CydurvgoTbCePG-eEY0SklNr1ls'>
</script>
            <!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=7XS0fxXx_tmCo2q6CydurvgoTbCePG-eEY0SklNr1ls"></script> -->
            </div>
          </p>
          <!--
          <p>
            <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fnicolobo.github.io&count_bg=%237B288C&title_bg=%23555555&icon=wolframlanguage.svg&icon_color=%23FFFFFF&title=Hit-o-Meter&edge_flat=false"/></a>
          </p>
          -->
          <p>
            <a class="a2a_dd" href="https://www.addtoany.com/share"><img src="https://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share"></a>
          <script async src="https://static.addtoany.com/menu/page.js"></script>
          </p>
          <p>
            <a href="https://nicolobo.github.io/music.html">
            <img src="images/Nolimetangere.png" alt="Noli me tangere" style="width: 50%; height: 50%;" />
          </a> 
          </p>
             
        </header>
        <section>
  
        {{ content }}
  
        </section>
        <footer>
          <!-- Last updated: April 2024 -->
        </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
