<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/social-circles.min.css">
    <!-- <link rel="stylesheet" href="../css/academicons.min.css"/>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">


{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1><a href="https://franvillamil.github.io/"><b>Francisco Villamil</b></a></h1>

        <p></p>
        <p>
          Assistant Professor<br />
          Department of Social Sciences<br />
          Universidad Carlos III de Madrid<br />
          <a href="mailto:francisco.villamil@uc3m.es">francisco.villamil@uc3m.es</a><br />
        </p>
        <p></p>
        <p>
        <a class="icon-github ai-2x" href="https://github.com/franvillamil" target="_blank" style="color: #3d3d3d;"></a>&nbsp;&nbsp;&nbsp;
        <a class="ai ai-google-scholar ai-2x" href="https://scholar.google.com/citations?user=G10YqfQAAAAJ&hl=en" target="_blank" style="color: #3d3d3d;"></a>&nbsp;&nbsp;&nbsp;
        <a class="icon-twitter ai-2x" href="http://twitter.com/frvillamil" target="_blank" style="color: #3d3d3d;"></a>&nbsp;&nbsp;&nbsp;
        <a class="ai ai-clarivate-square ai-2x" href="https://www.webofscience.com/wos/author/rid/AAO-7373-2021" target="_blank" style="color: #3d3d3d;"></a>&nbsp;&nbsp;&nbsp;
        <a class="ai ai-cv ai-2x" href="https://nbviewer.org/github/franvillamil/cv/raw/master/villamil-cv.pdf" target="_blank" style="color: #3d3d3d;"></a><br />
        </p>
        <p></p>
        <p>
          <a href="./index.html" style="font-size: 115%"><b>About</b></a><br />
          <a href="./research.html" style="font-size: 115%"><b>Publications</b></a><br />
          <a href="./teaching.html" style="font-size: 115%"><b>Teaching</b></a><br />
          <a href="./data.html" style="font-size: 115%"><b>Data & Code</b></a><br />
          <a href="./other.html" style="font-size: 115%"><b>Other writing</b></a><br />
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
